* {
  box-sizing: border-box;
  margin: 0;
}

/* Main */

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.light-mode {
  color: black;
  background: white;
  opacity: 1;
}

.dark-mode {
  color: white;
  background: #121212;
  opacity: 0.9;
}

/* Settings */

#settings {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;
  -webkit-user-select: none;
}

.indicator {
  font-size: 16px;
}

.icon {
  user-select: none;
  cursor: pointer;
  padding: 0 6px;
}
.icon:hover {
  color: lightslategrey;
}

.small {
  font-size: 16px;
}

.medium {
  font-size: 20px;
}

.big {
  font-size: 24px;
}

#pause {
  display: inline-block;
  text-align: center;
  width: 30px;
}

#font-type {
  font-family: Helvetica;
  display: inline-block;
  text-align: center;
  width: 106px;
}

#speed {
  font-family: Helvetica;
  display: inline-block;
  text-align: center;
  width: 65px;
}

/* Output */

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 32px;
  font-family: Helvetica;
  margin: 0 100px;
}

/* Input */

#input {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 10px;
}

#input:before,
#input:after,
#input > :first-child:before,
#input > :first-child:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-style: solid;
}
#input:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}
#input:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}
#input > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}
#input > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

#text-area-wrapper {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

#text-area {
  flex-basis: 0;
  flex-grow: 1;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  font-size: 16px;
  padding: 10px;
  outline: none;
  resize: none;
}

/* Browser-specific */

@-moz-document url-prefix() {
  .moz-repeat {
    font-size: 36px;
  }
  .moz-back {
    font-size: 42px;
    margin-bottom: -6px;
  }
}

/* Mobile layout */

@media screen and (max-width: 510px) {
  #output {
    margin: 0 10px;
  }
  #settings {
    justify-content: space-around;
  }
  #font-type-section {
    order: 6;
  }
}

@media screen and (max-width: 330px) {
  #speed-section {
    order: 5;
  }
}
